/* Configuraçoes iniciais */
.concessao_serasa{
	font-family:arial;
	font-size:12px;
	padding:0px;
}

.concessao_serasa [class*="col-"] {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    background: transparent;
    border: 0px;
}
.concessao_serasa .row{
	margin: 0px;
}
.concessao_serasa .row .row {
    margin-top: 0px;
    margin-bottom: 0;
}
.concessao_serasa .grid{
	padding: 0px;
}
	.concessao_serasa .grid [class*="col-"]{
		border: 1px solid white;
	}
.concessao_serasa .row-eq-height{
	display: flex;
}
.concessao_serasa .center{
	text-align: center;
}
.concessao_serasa .right{
	text-align: right;
}
.concessao_serasa .white{
	color:white;
}
.concessao_serasa .grey{
	color:#F0F0F0;
}
.concessao_serasa .blue{
	color:blue;
}
.concessao_serasa .darkblue{
	color:#0B0457;
}
.concessao_serasa .bg-darkblue{
	background-color: #000969 !important;
}
.concessao_serasa .bg-blue{
	background-color: #005AC2 !important;
}
.concessao_serasa .bg-lightblue{
	background-color: #62A4F0 !important;
}
.concessao_serasa .bg-lightgrey{
	background-color: #DEDEDE !important;
}
.concessao_serasa .bg-grey{
	background-color: #BFBFBF !important;
}
.concessao_serasa .bg-darkgrey{
	background-color: #A5A7A8 !important;
}
.concessao_serasa .font-logo{
	font-size: 2em;
}
.concessao_serasa .font-bigger{
	font-size: 1.3em;
}
.concessao_serasa .font-big{
	font-size: 1.2em;
}
.concessao_serasa .font-over{
	font-size: 1.1em;
}
.concessao_serasa .font-normal{
	font-size: 1em;
}
.concessao_serasa .font-small{
	font-size: 0.9em;
}
.concessao_serasa .font-grid{
	font-size: 0.8em;
}
.concessao_serasa .bold{
	font-weight: bold;
}
.concessao_serasa .line-big{
	line-height: 1.6em;
}
.concessao_serasa .blank-space{
	height: 1em;
}
.concessao_serasa .eq-center{
	display:flex;
	justify-content: center;
	align-items:center;
	text-align: center;
}
.concessao_serasa .eq-left{
	display:flex;
	align-items:center;
}
.concessao_serasa .eq-right{
	display:flex;
	justify-content: flex-end;
	align-items:center;
}

/* Configurações do formulário */
	.concessao_serasa .relato{
		height:1.1em;
		text-shadow: 2px 2px grey;
	}


